#masthead {
    height: 157px;
    width: 940px;
    background-image: url("../img/riteq_header.png");
    background-repeat: no-repeat;
    margin-bottom: 2px;
}

header a, header a:visited {
    color: rgb(255, 255, 255);
}

header a:hover {
    color: rgb(33, 33, 33);
}

#masthead h1, #masthead h2 {
    display: none;
}

